{% load staticfiles %}


<html lang="he">
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2273714248532347",
    enable_page_level_ads: true
  });
</script>
  <meta charset="UTF-8">
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <html dir="rtl" lang="ar">
  <meta name="theme-color" content="#141619">
  <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">

  <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300'
        rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300'
        rel='stylesheet' type='text/css'>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link href="css/helpers.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/helpers.min.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'> 

  <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css" >
<link rel="stylesheet" href="{% static 'css/sample-chat.css' %}">

  <title>GameKal - Clash Royale</title>


</head>
<body>
  <div class="init-check"></div>

  <div class="sample-body">


    <!-- left nav -->
    <div style="float:right; position:fixed" class="left-nav">
      <a href="/" target="_top"><h1 style="text-align: center; font-family: Lobster">GameKal</h1></a>
      <div class="left-nav-channel-select">
        <button style="padding-right:10px" type="button" class="left-nav-button left-nav-open" id="btn_open_chat">
          כניסה לסרבר!
          <div class="left-nav-button-guide"></div>
        </button>
        <button style="padding-right:10px" type="button" class="left-nav-button left-nav-messaging" id="btn_messaging_chat">
          עשה סרבר משלך
          <div class="left-nav-button-guide"></div>
        </button>
    

      </div>

      

        <div class="left-nav-channel-section">
        <div style="text-align:right; font-size:15px" class="left-nav-channel-title">פתיחת צ'אט</div>
        <div style="text-align:right; padding-right: 10px" class="left-nav-channel-empty">התחל כדי לפתוח<br>חדר צ'אט</div>
        <div style="text-align:left" id="open_channel_list"></div>

        <div style="text-align:right; font-size:15px" class="left-nav-channel-title title-messaging">צ'אט קבוצתי</div>
        <div id="messaging_channel_list"></div>

      </div>


<div style="postition:fixed" class="left-nav-user">
      <div style="margin-top:-80" class="left-nav-channel-select2">
        <a href="/logout">
        <button style="padding-right: 12px" type="button" data-toggle="modal" data-target=".bs-modal-sm" class="left-nav-button left-nav-logout">
          יציאה
          
        </button>
        </a>
      </div>
        

      </div>
      <div style="postition:fixed" class="left-nav-user">
        <div class="left-nav-user left-nav-user-icon"></div>
        <div class="left-nav-user left-nav-login-user">
          <div class="left-nav-user left-nav-user-title">משתמש</div>
          <div class="left-nav-user left-nav-user-nickname"></div>
          
        </div>
      </div>

    </div> <!-- // end left nav -->


    <!-- chat section -->
    <div style="display:block"class="right-section">
      <!-- modal-bg -->
      <div class="right-section__modal-bg"></div>

      <!-- top -->
      <div class="chat-top">
        <a href="{% url 'post_new' %}"> <button style="background-color:#5299f5; color:white;padding:13px 20px;width:75px; margin-right:10px;font-size:17px" type="button" class="btn">
  <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
</button></a>

        <div class="chat-top__title"></div>
        <div class="chat-top-button">
          <div class="chat-top__button chat-top__button-invite">הזמן</div>
          <div class="modal-guide-user">
            הזמינו עוד
          </div>

          <div class="chat-top__button chat-top__button-member"></div>
          <div class="modal-guide-member">
        משתמשים
          </div>
                
          
          <div class="chat-top__button chat-top__button-leave"></div>
          <div class="modal-guide-leave">
            עזבו
          </div>

        </div>
      </div>

    

      <!-- channel empty -->

     <div class="chat-empty">


       <div class="container">
 
     
    <!-- top post -->
 {% for post in posts2 %}
   
  

        <div class="col-lg-7 col-lg-offset-3">
          <strong><h1 style="color:black">מה חדש?</h1></strong>
            <div class="panel panel-default panel-post">
              <div class="panel-body">
                <div class="post">
                  <div class="post-header post-author">
                    <a href="#" class="author" data-toggle="tooltip" title="YAKUZI"></a>
                    <div style="padding-left:100px" class="post-title">
                      <h3 style="text-align:center"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                      <ul style="text-align:center" class="post-meta">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i>  {{ post.author }}</a></li>
                        <li><a href="{% url 'post_detail' pk=post.pk %}"><i class="glyphicon glyphicon-comment"></i><span style="text-align:right" class="hidden-xs"><span style="color:white; font-size:1">   ת</span>   {{ post.comments.count }}   תגובות</span></a></li>
                        <li><i class="glyphicon glyphicon-calendar"> </i> {{ post.published_date }} {{ post.category }}</li>
                        
                      </ul>
                    </div>
                  </div>
                  <div id="post-carousel" class="carousel slide post-thumbnail" data-ride="carousel">
                   
                    <div class="carousel-inner">
                      <div class="item active">
                        
                       
                      </div>
                      
                    </div>
                  </div>
                  {{ post.text|linebreaksbr|truncatechars:275 }}
                </div>
              </div>
              <div class="panel-footer">
                <ul class="post-action">
                  <li><a href="#"><i class="fa fa-heart"></i> נקודות:</a></li>
                  <li><a href="{% url 'post_detail' pk=post.pk %}"><i class="fa fa-comments"></i>תגובות</a></li>


                  <li><a href="#"><i class="fa fa-reply"></i> share</a></li>
                </ul>
              </div>
            </div>
       
      
      </div>
  <!-- end top post -->


  {% endfor %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9846536315738098"
     data-ad-slot="7330646968"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

     {% load el_pagination_tags %}

{% lazy_paginate posts %}
{% get_pages %}
<h1 style="color:black" class="col-lg-7 col-lg-offset-3">{{ pages.previous }}</h1>
         {% for post in posts %}
   
  

        <div class="col-lg-7 col-lg-offset-3">

            <div class="panel panel-default panel-post">
              <div class="panel-body">
                <div class="post">
                  <div class="post-header post-author">
                    <a href="#" class="author" data-toggle="tooltip" title="YAKUZI"></a>
                    <div style="padding-left:100px" class="post-title">
                      <h3 style="text-align:center"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                      <ul style="text-align:center" class="post-meta">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i>  {{ post.author }}</a></li>
                        <li><a href="{% url 'post_detail' pk=post.pk %}"><i class="glyphicon glyphicon-comment"></i><span style="text-align:right" class="hidden-xs"><span style="color:white; font-size:1">   ת</span>   {{ post.comments.count }}   תגובות</span></a></li>
                        <li><i class="glyphicon glyphicon-calendar"> </i> {{ post.published_date }} {{ post.category }}</li>
                        
                      </ul>
                    </div>
                  </div>
                  <div id="post-carousel" class="carousel slide post-thumbnail" data-ride="carousel">
                   
                    <div class="carousel-inner">
                      <div class="item active">
                        
                       
                      </div>
                      
                    </div>
                  </div>
                  {{ post.text|linebreaksbr|truncatechars:275 }}
                </div>
              </div>
              <div class="panel-footer">
                <ul class="post-action">
                  <li><a href="#"><i class="fa fa-heart"></i> נקודות:</a></li>
                  <li><a href="{% url 'post_detail' pk=post.pk %}"><i class="fa fa-comments"></i>תגובות</a></li>


                  <li><a href="#"><i class="fa fa-reply"></i> share</a></li>
                </ul>
              </div>
            </div>
       
      
      </div>
 
  {% endfor %}



 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9846536315738098"
     data-ad-slot="1284113368"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



</div>
<h1 style="color:black" class="col-lg-7">{% show_more "עוד" %}</h1>


</div>


      <!-- chat -->
      <div class="chat">
        <div class="chat-canvas"></div>

        <div class="chat-input">
          <label class="chat-input-file" for="chat_file_input">
            <input type="file" name="file" id="chat_file_input" style="display: none;">
          </label>
          <div class="chat-input-text">
            <textarea class="chat-input-text__field" placeholder="תכתבו משהו!" disabled="true" autofocus></textarea>
          </div>
        </div>
        <label class="chat-input-typing"></label>
      </div>

    </div> <!-- // end chat section -->

  </div>

  <!-----------------------
            modal
  ------------------------>


   <div class="modal-open-chat">
    <div class="modal-messaging-top">
      <label class="modal-messaging-top__title">הודעות וכללי</label>
      
    </div>
    <div style="margin-right:7px" class="modal-open-chat-list"></div>
    <div class="modal-open-chat-more">
      <div class="modal-open-chat-more__text">עוד<div class="modal-open-chat-more__icon"></div></div>
    </div>
  </div>

  <div class="modal-messaging">
    <div class="modal-messaging-top">
      <label style="padding-left:190px"  class="modal-messaging-top__title">משתמשים</label>
      <label style="float:right" class="modal-messaging-top__desc">רשימת משתמשים מחוברים</label>
    </div>
    <div style="float:left" class="modal-messaging-list">
      <div class="modal-messaging-list__item"> Username1 <div style="margin-left:10px" class="modal-messaging-list__icon"></div></div>
      <div class="modal-messaging-list__item"> Username2 <div style="margin-left:10px"  class="modal-messaging-list__icon modal-messaging-list__icon--select"></div></div>

      <div class="modal-messaging-more">עוד<div class="modal-messaging-more__icon"></div></div>
    </div>
    <div class="modal-messaging-bottom">
      <button type="button" class="modal-messaging-bottom__button" onclick="startMessaging()">התחל</button>
    </div>
  </div>
  <div class="modal-member">
    <div style="text-align:right" class="modal-member-title">רשימת משתמשים</div>
    <div class="modal-member-list"></div>
  </div>

  <div class="modal-invite">
    <div class="modal-invite-title">רשימת משתמשים</div>
    <div class="modal-invite-top">
      <label class="modal-messaging-top__title modal-invite-top__title">צ'אט קבוצתי</label>
      <label class="modal-invite-top__desc">הזמינו כמה משתמשים ולחצו 'הזמן'</label>
    </div>
    <div class="modal-messaging-list modal-invite-list">

    </div>
    <div class="modal-invite-bottom">
      <button type="button" class="modal-invite-bottom__button" onclick="inviteMember()">הזמן</button>
    </div>
  </div>

  <div class="modal-leave-channel">
    <div class="modal-leave-channel-card">
      <div style="text-align:right" class="modal-leave-channel-title">האם אתם בטוחים?</div>
      <div style="text-align:right" class="modal-leave-channel-desc2">האם ברצונכם לעזוב? </div>
      <div class="modal-leave-channel-separator"></div>
      <div class="modal-leave-channel-bottom">
        <button type="button" class="modal-leave-channel-button modal-leave-channel-close">לא</button>
        <button type="button" class="modal-leave-channel-button modal-leave-channel-submit">כן</button>
      </div>
    </div>
  </div>

  <div class="modal-hide-channel">
    <div class="modal-hide-channel-card">
      <div class="modal-hide-channel-title">Are you Sure?</div>
      <div class="modal-hide-channel-desc">Do you want to hide this channel?</div>
      <div class="modal-hide-channel-separator"></div>
      <div class="modal-hide-channel-bottom">
        <button type="button" class="modal-hide-channel-button modal-hide-channel-close">לא</button>
        <button type="button" class="modal-hide-channel-button modal-hide-channel-submit">כן</button>
      </div>
    </div>
  </div>

  <div class="modal-confirm">
    <div class="modal-confirm-card">
      <div class="modal-confirm-title">Are you Sure?</div>
      <div class="modal-confirm-desc">Do you want to hide this channel?</div>
      <div class="modal-confirm-separator"></div>
      <div class="modal-confirm-bottom">
        <button type="button" class="modal-confirm-button modal-confirm-close">לא</button>
        <button type="button" class="modal-confirm-button modal-confirm-submit">כן</button>
      </div>
    </div>
  </div>

  <div class="modal-input">
    <div class="modal-input-card">
      <div class="modal-input-title">Type info</div>
      <div class="modal-input-desc">Create Open Channel</div>
      <div class="modal-input-box">
        <input type="text" class="modal-input-box-elem" />
      </div>
      <div class="modal-input-separator"></div>
      <div class="modal-input-bottom">
        <button type="button" class="modal-input-button modal-input-close">לא</button>
        <button type="button" class="modal-input-button modal-input-submit">כן</button>
      </div>
    </div>
  </div>


  
  <!-----------------------
        // END modal
  ------------------------>

  <!--<script src="/static/lib/SendBird.min.js"></script>-->
  <!--<script src="/static/js/jquery-1.11.3.min.js"></script>-->
  <!--<script src="/static/js/util.js"></script>-->
  <!--<script src="/static/js/chat.js"></script>-->
  <script src="static/lib/SendBird.min.js"></script>
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/util.js"></script>
  <script src="static/js/chat-clash.js"></script>



</body>
</html>
