{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="theme-color" content="#141619">
  <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">

  <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300'
        rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300'
        rel='stylesheet' type='text/css'>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link href="css/helpers.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/helpers.min.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'> 

  <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/sample-chat.css' %}">

  <title>GameKal - Home</title>
  
</head>
<body>
  <div class="init-check"></div>

  <div class="sample-body">

<!-- top -->
      <div style="" class="chat-top">

      <h1 style="text-align: center; font-family: Lobster; color:black">GameKal</h1>

        </div>
    
      <!--<div class="home-desc">
        <div class="chat-empty chat-empty__tile">Game Hubברוכים הבאים ל</div>
        <img src="{% static 'img/playstation.png' %}">
        <div class="chat-empty chat-empty__desc">
          !הצטרפו לקהילות כדי לדבר ולהכיר אנשים מאותם המשחקים בהם אתם משחקים</br>
.אם אין לכם קהילה להצטרף אליה, צרו אחת משלכם עכשיו
        </div>
      </div>-->

  <section style= class="bg-grey-50">
      <div style="" class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="card">
              <div class="card-img">
                <a href="/xbox"><img src="{% static 'img/logo.jpg' %}" style="" alt=""></a>
                <div class="meta"><a href="/xbox"><i class="fa fa-heart-o"></i> <span></span></a></div>
              </div>
              <div class="caption">
                <h3 style="text-align:right" class="card-title"><a href="/xbox">אקס בוקס</a></h3>
    
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xl-12">
            <div class="card">
              <div class="card-img">
                <a href="/play"><img src="{% static 'img/logo_playstation.png' %}" alt=""></a>
                <div class="meta"><a href="/play"><i class="fa fa-heart-o"></i> <span></span></a></div>
              </div>
              <div class="caption">
                <h3 style="text-align:right" class="card-title"><a href="/play">פלייסטיישן</a></h3>
            
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xl-12">
            <div class="card">
              <div class="card-img">
                <a href="/clash"><img src="{% static 'img/clash.jpg' %}" alt=""></a>
                <div class="meta"><a href="/clash"><i class="fa fa-heart-o"></i> <span></span></a></div>
              </div>
              <div class="caption">
                <h3 style="text-align:right" class="card-title"><a href="/clash">קלאש רויאל</a></h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xl-12">
            <div class="card">
              <div class="card-img">
                <a href="/steam"><img src="{% static 'img/steam.jpg' %}" alt=""></a>
                <div class="meta"><a href="/steam"><i class="fa fa-heart-o"></i> <span></span></a></div>
              </div>
              <div class="caption">
                <h3 style="text-align:right" class="card-title"><a href="/steam">סטים</a></h3>
               
              </div>
            </div>
          </div>

        <div style="float:right" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card">
              <div class="card-img">
                <a href="games-single.html"><img src="{% static 'img/lol.jpg' %}" alt=""></a>
                <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span></span></a></div>
              </div>
              <div class="caption">
                <h3 class="card-title"><a href="games-single.html">League Of Legends</a></h3>
                
               
              </div>
            </div>
          </div>

          <div style="float:right" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card">
              <div class="card-img">
                <a href="#"><img src="{% static 'img/more.png' %}" alt=""></a>
               
              </div>
              <div class="caption">
                <h3 style="text-align:right" class="card-title"><a href="#">...בקרוב</a></h3>
               
                
              </div>
            </div>
          </div>

       <div style="margin-bottom:40px" class="col-lg-12">
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- home -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9846536315738098"
     data-ad-slot="1605184163"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>

         


         
     <footer style="height:10px;" class="navbar-fixed-bottom">
     
        <strong><p style="margin-top:-34px">© 2017 GameKal. All Rights Reserved</p></strong>
      
    </footer>

  <!--<script src="/static/lib/SendBird.min.js"></script>-->
  <!--<script src="/static/js/jquery-1.11.3.min.js"></script>-->
  <!--<script src="/static/js/util.js"></script>-->
  <!--<script src="/static/js/chat.js"></script>-->
  <script src="static/lib/SendBird.min.js"></script>
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/util.js"></script>
  

</body>
</html>
