

{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">

  <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300' rel='stylesheet' type='text/css'>
   <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

   <link href="https://fonts.googleapis.com/css?family=Baloo|Varela+Round" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!--<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="/static/css/sample-index.css">-->
   <link rel="stylesheet" href="{% static 'css/sample-index.css' %}">


  <title>Game Hub</title>
</head>
<body class="sample-background">
  <div class="container">
    <div class="row">

      <!-- top -->
      <div class="index-section index-top">
        <div class="text-sort text-sort--right">
          <!--<img src="/static/img/logo_landing.svg">-->
         
        </div>
        
          <h1 style="text-align:center; color:white" class="title">The Game Hub</h1>
       
      </div>

      <!-- user info -->
   {% block content %}
  <form method="post">
   <div style="margin-top:30px; margin-left:21%" class="col-lg-7">
            <div class="panel panel-default panel-post">
              <div style="margin-left: 40px; margin-right: 20px">
                
                  <center><h2 style="margin-top:25px;margin-bottom:40px">!התחברו עכשיו</h2></center>
                    <form style="margin-top:25px; width:100%" class="form-control">{% csrf_token %}
                      <h4>{{ form.as_p }}</h4>
              <center><button style="width:50%; height:40px; background-color:#5299f5; color:white; margin-bottom:20px; margin-top:20px;" type="submit" class="btn">התחבר</button></center>
            </form>
            <div style="text-align:center; margin-bottom:20px" class="">
                !אין לכם משתמש? <a href="/register">התחל עכשיו</a>
            </div>
    {% endblock %}
    </div>
      
      </div></div>

     

      <!-- description -->
      <div class="index-section index-text">
        התחל לשחק עכשיו<br>
      
        <br />
        <br />
       
      </div>

      </form>

  <!--<script src="/static/js/jquery-1.11.3.min.js"></script>-->
  <!--<script src="/static/js/util.js"></script>-->
  <!--<script src="/static/js/index.js"></script>-->
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/util.js"></script>
  <script src="static/js/index.js"></script>


</body>
</html>

